#displayTable {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th, tr, td {
    border: 1px solid black;
}

th {
    width: 70px;
}

.deleteButton {
    background-color: red;
    color: white;
}

#inputTable {
    border-collapse: collapse;
    border: 1px solid black;
}